---
import { getCollection } from 'astro:content';
import FormattedDate from '../../components/FormattedDate.astro';

import '../../styles/global.css';

const posts = (await getCollection('blog')).sort(
    (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<div class="h-screen">
    <header class="flex flex-col justify-center items-center m-4">
        <h1 class="text-3xl">TheSeagullDev's Blog</h1>
        <p class="text-xl">If you're bored, read this blog!</p>
    </header>

    {posts.length === 0 && <p>No posts yet :(</p>}

    <div class="h-full flex flex-col items-center">
        {posts.map((post) => (
            <article class="bg-blue-100 p-4 rounded-2xl w-1/2 shadow-md">
                <a href={`/posts/${post.id}`} class="text-xl font-bold">
                    {post.data.title}
                </a>
                <p class="text-lg">{post.data.description}</p>
                <p class="text-md">
                    Published on <FormattedDate date={post.data.pubDate} />
                </p>
            </article>
        ))}
    </div>
</div>