---
import "../styles/global.css";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body class="flex flex-col justify-center items-center h-screen gap-4">
		<h1 class="text-3xl">TheSeagullDev's Blog</h1>
		<p class="text-xl">Such a festive blog!</p>
		<button class="bg-blue-400 p-4 rounded-2xl shadow-md"><a href="/posts" class="text-white">See posts!</a></button>
	</body>
</html>
